<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mappers.ProductParameterMapper">
  <resultMap id="BaseResultMap" type="model.ProductParameter">
    <!--
      映射表，映射数据库表字段到实体类字段
    -->
    <id column="produce_date" jdbcType="DATE" property="produceDate" />
    <id column="furnace_num" jdbcType="VARCHAR" property="furnaceNum" />
    <result column="class_no" jdbcType="VARCHAR" property="classNo" />
    <result column="furnace_no" jdbcType="VARCHAR" property="furnaceNo" />
    <result column="furnace_age" jdbcType="VARCHAR" property="furnaceAge" />
    <result column="steel_name" jdbcType="VARCHAR" property="steelName" />
    <result column="oxygun1" jdbcType="INTEGER" property="oxygun1" />
    <result column="oxygun2" jdbcType="INTEGER" property="oxygun2" />
    <result column="oxymode" jdbcType="INTEGER" property="oxymode" />
    <result column="iron_c" jdbcType="DECIMAL" property="ironC" />
    <result column="iron_si" jdbcType="DECIMAL" property="ironSi" />
    <result column="iron_mn" jdbcType="DECIMAL" property="ironMn" />
    <result column="iron_p" jdbcType="DECIMAL" property="ironP" />
    <result column="iron_s" jdbcType="DECIMAL" property="ironS" />
    <result column="iron_temperature" jdbcType="VARCHAR" property="ironTemperature" />
    <result column="outlet_age" jdbcType="INTEGER" property="outletAge" />
    <result column="iron_weight" jdbcType="DECIMAL" property="ironWeight" />
    <result column="resteel_weight1" jdbcType="DECIMAL" property="resteelWeight1" />
    <result column="resteel_weight2" jdbcType="DECIMAL" property="resteelWeight2" />
    <result column="steel_weight" jdbcType="DECIMAL" property="steelWeight" />
    <result column="pro_oxytime1" jdbcType="DECIMAL" property="proOxytime1" />
    <result column="pro_oxyval" jdbcType="INTEGER" property="proOxyval" />
    <result column="turn_num" jdbcType="INTEGER" property="turnNum" />
    <result column="turn_temperature1" jdbcType="INTEGER" property="turnTemperature1" />
    <result column="pro_oxytime2" jdbcType="DECIMAL" property="proOxytime2" />
    <result column="turn_temperature2" jdbcType="INTEGER" property="turnTemperature2" />
    <result column="pro_nval" jdbcType="INTEGER" property="proNval" />
    <result column="slag_time" jdbcType="DECIMAL" property="slagTime" />
    <result column="slag_weight" jdbcType="INTEGER" property="slagWeight" />
    <result column="turn_c" jdbcType="DECIMAL" property="turnC" />
    <result column="turn_s" jdbcType="DECIMAL" property="turnS" />
    <result column="turn_p" jdbcType="DECIMAL" property="turnP" />
    <result column="turn_mn" jdbcType="DECIMAL" property="turnMn" />
    <result column="steel_dir" jdbcType="INTEGER" property="steelDir" />
    <result column="steel_fe" jdbcType="INTEGER" property="steelFe" />
    <result column="steel_remark" jdbcType="VARCHAR" property="steelRemark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      该表所有字段
    -->
    produce_date, furnace_num, class_no, furnace_no, furnace_age, steel_name, oxygun1, 
    oxygun2, oxymode, iron_c, iron_si, iron_mn, iron_p, iron_s, iron_temperature, outlet_age, 
    iron_weight, resteel_weight1, resteel_weight2, steel_weight, pro_oxytime1, pro_oxyval, 
    turn_num, turn_temperature1, pro_oxytime2, turn_temperature2, pro_nval, slag_time, 
    slag_weight, turn_c, turn_s, turn_p, turn_mn, steel_dir, steel_fe, steel_remark
  </sql>
  
  <!-- 查询所有钢种类型 -->
  <select id="selectAllSteelName" parameterType = "model.ProductParameter" resultType="java.lang.String">
  	select
  	steel_name
  	from product_parameter
  	group by steel_name
  </select>
  
  <!-- 按指定字段查询，没有时间范围限制，不推荐使用 -->
  <select id="selectByOneCharacter" parameterType="model.ProductParameter" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from product_parameter
  	where ${NAME} = #{VALUE}
  </select>
  
  <!-- 按主键查询,唯一确定一条记录 -->
  <select id="selectByPrimaryKey" parameterType="model.ProductParameter" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from product_parameter
  	where produce_date = #{produceDate}
      and furnace_num = #{furnaceNum,jdbcType=VARCHAR}
  </select>
  
  <!-- 查询该表所有记录 极其不推荐使用 -->
  <select id="selectAll" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from product_parameter
  </select>
  
  <!-- 分组查询组：针对时间段和钢种进行查询 -->
  <!-- 分时间段查询 -->
  <select id="selectByTime" parameterType="model.ProductParameter" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from product_parameter
  	where produce_date in
	  	(select
	  	produce_date
	  	from product_parameter
	  	where 
	  	produce_date between #{produceDate1} and #{produceDate2})
	limit #{begin},#{total}
  </select>
  
  <!-- 获取所有分页记录 -->
  <select id="getTotalRecord" parameterType="model.ProductParameter" resultType="int">
  	select count(*) 
  	from product_parameter
  	where produce_date in
	  	(select
	  	produce_date
	  	from product_parameter
	  	where 
	  	produce_date between #{produceDate1} and #{produceDate2})
  </select>
  
  <!-- 获取钢种查询所有分页记录 -->
  <select id="getTotalRecordBySteelName" parameterType="model.ProductParameter" resultType="int">
  	select 
  	count(*)
  	from product_parameter
  	where steel_name=#{steelName}
  </select>
  
  <!-- 分钢种查询 -->
  <select id="selectBySteelName" parameterType="model.ProductParameter" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from product_parameter
  	where steel_name=#{steelName}
  	limit #{begin},#{total}
  </select>
  
  <!-- 条件查询组：针对班组、炉号、钢种类型及时间段进行查询 -->
  <select id="selectWithThreeRequirementsByTime" parameterType="hashmap" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from product_parameter where 1=1
	  	<if test="classNo !=null and classNo !=''">
	  		AND class_no=#{classNo}
	  	</if> 
	  	<if test="furnaceNo !=null and furnaceNo !=''">
	  		AND furnace_no=#{furnaceNo}
	  	</if>
	  	<if test="steelName !=null and steelName !=''">
	  		AND steel_name=#{steelName}
	  	</if>
	  	<if test="produceDate1 !=null and produceDate2 !=null">
	  		AND produce_date BETWEEN #{produceDate1} AND #{produceDate2}
	  	</if>
	  	 
  </select>
  
  
  <!-- 按指定字段删除记录 -->
  <delete id="deleteByOneCharacter" parameterType="model.ProductParameter" >
    delete from product_parameter
    where ${NAME} = #{VALUE}
  </delete>
  
  <!-- 按主键字段删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="model.ProductParameter" >
    delete from product_parameter
    where produce_date = #{produceDate,jdbcType=DATE}
      and furnace_num = #{furnaceNum,jdbcType=VARCHAR}
  </delete>
  
  <!-- 插入单条记录 -->
  <insert id="insertSingleRecord" parameterType="model.ProductParameter">
    insert into product_parameter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="produceDate != null">
        produce_date,
      </if>
      <if test="furnaceNum != null">
        furnace_num,
      </if>
      <if test="classNo != null">
        class_no,
      </if>
      <if test="furnaceNo != null">
        furnace_no,
      </if>
      <if test="furnaceAge != null">
        furnace_age,
      </if>
      <if test="steelName != null">
        steel_name,
      </if>
      <if test="oxygun1 != null">
        oxygun1,
      </if>
      <if test="oxygun2 != null">
        oxygun2,
      </if>
      <if test="oxymode != null">
        oxymode,
      </if>
      <if test="ironC != null">
        iron_c,
      </if>
      <if test="ironSi != null">
        iron_si,
      </if>
      <if test="ironMn != null">
        iron_mn,
      </if>
      <if test="ironP != null">
        iron_p,
      </if>
      <if test="ironS != null">
        iron_s,
      </if>
      <if test="ironTemperature != null">
        iron_temperature,
      </if>
      <if test="outletAge != null">
        outlet_age,
      </if>
      <if test="ironWeight != null">
        iron_weight,
      </if>
      <if test="resteelWeight1 != null">
        resteel_weight1,
      </if>
      <if test="resteelWeight2 != null">
        resteel_weight2,
      </if>
      <if test="steelWeight != null">
        steel_weight,
      </if>
      <if test="proOxytime1 != null">
        pro_oxytime1,
      </if>
      <if test="proOxyval != null">
        pro_oxyval,
      </if>
      <if test="turnNum != null">
        turn_num,
      </if>
      <if test="turnTemperature1 != null">
        turn_temperature1,
      </if>
      <if test="proOxytime2 != null">
        pro_oxytime2,
      </if>
      <if test="turnTemperature2 != null">
        turn_temperature2,
      </if>
      <if test="proNval != null">
        pro_nval,
      </if>
      <if test="slagTime != null">
        slag_time,
      </if>
      <if test="slagWeight != null">
        slag_weight,
      </if>
      <if test="turnC != null">
        turn_c,
      </if>
      <if test="turnS != null">
        turn_s,
      </if>
      <if test="turnP != null">
        turn_p,
      </if>
      <if test="turnMn != null">
        turn_mn,
      </if>
      <if test="steelDir != null">
        steel_dir,
      </if>
      <if test="steelFe != null">
        steel_fe,
      </if>
      <if test="steelRemark != null">
        steel_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="produceDate != null">
        #{produceDate,jdbcType=DATE},
      </if>
      <if test="furnaceNum != null">
        #{furnaceNum,jdbcType=VARCHAR},
      </if>
      <if test="classNo != null">
        #{classNo,jdbcType=VARCHAR},
      </if>
      <if test="furnaceNo != null">
        #{furnaceNo,jdbcType=VARCHAR},
      </if>
      <if test="furnaceAge != null">
        #{furnaceAge,jdbcType=VARCHAR},
      </if>
      <if test="steelName != null">
        #{steelName,jdbcType=VARCHAR},
      </if>
      <if test="oxygun1 != null">
        #{oxygun1,jdbcType=INTEGER},
      </if>
      <if test="oxygun2 != null">
        #{oxygun2,jdbcType=INTEGER},
      </if>
      <if test="oxymode != null">
        #{oxymode,jdbcType=INTEGER},
      </if>
      <if test="ironC != null">
        #{ironC,jdbcType=DECIMAL},
      </if>
      <if test="ironSi != null">
        #{ironSi,jdbcType=DECIMAL},
      </if>
      <if test="ironMn != null">
        #{ironMn,jdbcType=DECIMAL},
      </if>
      <if test="ironP != null">
        #{ironP,jdbcType=DECIMAL},
      </if>
      <if test="ironS != null">
        #{ironS,jdbcType=DECIMAL},
      </if>
      <if test="ironTemperature != null">
        #{ironTemperature,jdbcType=VARCHAR},
      </if>
      <if test="outletAge != null">
        #{outletAge,jdbcType=INTEGER},
      </if>
      <if test="ironWeight != null">
        #{ironWeight,jdbcType=DECIMAL},
      </if>
      <if test="resteelWeight1 != null">
        #{resteelWeight1,jdbcType=DECIMAL},
      </if>
      <if test="resteelWeight2 != null">
        #{resteelWeight2,jdbcType=DECIMAL},
      </if>
      <if test="steelWeight != null">
        #{steelWeight,jdbcType=DECIMAL},
      </if>
      <if test="proOxytime1 != null">
        #{proOxytime1,jdbcType=DECIMAL},
      </if>
      <if test="proOxyval != null">
        #{proOxyval,jdbcType=INTEGER},
      </if>
      <if test="turnNum != null">
        #{turnNum,jdbcType=INTEGER},
      </if>
      <if test="turnTemperature1 != null">
        #{turnTemperature1,jdbcType=INTEGER},
      </if>
      <if test="proOxytime2 != null">
        #{proOxytime2,jdbcType=DECIMAL},
      </if>
      <if test="turnTemperature2 != null">
        #{turnTemperature2,jdbcType=INTEGER},
      </if>
      <if test="proNval != null">
        #{proNval,jdbcType=INTEGER},
      </if>
      <if test="slagTime != null">
        #{slagTime,jdbcType=DECIMAL},
      </if>
      <if test="slagWeight != null">
        #{slagWeight,jdbcType=INTEGER},
      </if>
      <if test="turnC != null">
        #{turnC,jdbcType=DECIMAL},
      </if>
      <if test="turnS != null">
        #{turnS,jdbcType=DECIMAL},
      </if>
      <if test="turnP != null">
        #{turnP,jdbcType=DECIMAL},
      </if>
      <if test="turnMn != null">
        #{turnMn,jdbcType=DECIMAL},
      </if>
      <if test="steelDir != null">
        #{steelDir,jdbcType=INTEGER},
      </if>
      <if test="steelFe != null">
        #{steelFe,jdbcType=INTEGER},
      </if>
      <if test="steelRemark != null">
        #{steelRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 更新一条记录 -->
  <update id="updateSingleRecord" parameterType="model.ProductParameter">
    update product_parameter
    <set>
      <if test="classNo != null">
        class_no = #{classNo,jdbcType=VARCHAR},
      </if>
      <if test="furnaceNo != null">
        furnace_no = #{furnaceNo,jdbcType=VARCHAR},
      </if>
      <if test="furnaceAge != null">
        furnace_age = #{furnaceAge,jdbcType=VARCHAR},
      </if>
      <if test="steelName != null">
        steel_name = #{steelName,jdbcType=VARCHAR},
      </if>
      <if test="oxygun1 != null">
        oxygun1 = #{oxygun1,jdbcType=INTEGER},
      </if>
      <if test="oxygun2 != null">
        oxygun2 = #{oxygun2,jdbcType=INTEGER},
      </if>
      <if test="oxymode != null">
        oxymode = #{oxymode,jdbcType=INTEGER},
      </if>
      <if test="ironC != null">
        iron_c = #{ironC,jdbcType=DECIMAL},
      </if>
      <if test="ironSi != null">
        iron_si = #{ironSi,jdbcType=DECIMAL},
      </if>
      <if test="ironMn != null">
        iron_mn = #{ironMn,jdbcType=DECIMAL},
      </if>
      <if test="ironP != null">
        iron_p = #{ironP,jdbcType=DECIMAL},
      </if>
      <if test="ironS != null">
        iron_s = #{ironS,jdbcType=DECIMAL},
      </if>
      <if test="ironTemperature != null">
        iron_temperature = #{ironTemperature,jdbcType=VARCHAR},
      </if>
      <if test="outletAge != null">
        outlet_age = #{outletAge,jdbcType=INTEGER},
      </if>
      <if test="ironWeight != null">
        iron_weight = #{ironWeight,jdbcType=DECIMAL},
      </if>
      <if test="resteelWeight1 != null">
        resteel_weight1 = #{resteelWeight1,jdbcType=DECIMAL},
      </if>
      <if test="resteelWeight2 != null">
        resteel_weight2 = #{resteelWeight2,jdbcType=DECIMAL},
      </if>
      <if test="steelWeight != null">
        steel_weight = #{steelWeight,jdbcType=DECIMAL},
      </if>
      <if test="proOxytime1 != null">
        pro_oxytime1 = #{proOxytime1,jdbcType=DECIMAL},
      </if>
      <if test="proOxyval != null">
        pro_oxyval = #{proOxyval,jdbcType=INTEGER},
      </if>
      <if test="turnNum != null">
        turn_num = #{turnNum,jdbcType=INTEGER},
      </if>
      <if test="turnTemperature1 != null">
        turn_temperature1 = #{turnTemperature1,jdbcType=INTEGER},
      </if>
      <if test="proOxytime2 != null">
        pro_oxytime2 = #{proOxytime2,jdbcType=DECIMAL},
      </if>
      <if test="turnTemperature2 != null">
        turn_temperature2 = #{turnTemperature2,jdbcType=INTEGER},
      </if>
      <if test="proNval != null">
        pro_nval = #{proNval,jdbcType=INTEGER},
      </if>
      <if test="slagTime != null">
        slag_time = #{slagTime,jdbcType=DECIMAL},
      </if>
      <if test="slagWeight != null">
        slag_weight = #{slagWeight,jdbcType=INTEGER},
      </if>
      <if test="turnC != null">
        turn_c = #{turnC,jdbcType=DECIMAL},
      </if>
      <if test="turnS != null">
        turn_s = #{turnS,jdbcType=DECIMAL},
      </if>
      <if test="turnP != null">
        turn_p = #{turnP,jdbcType=DECIMAL},
      </if>
      <if test="turnMn != null">
        turn_mn = #{turnMn,jdbcType=DECIMAL},
      </if>
      <if test="steelDir != null">
        steel_dir = #{steelDir,jdbcType=INTEGER},
      </if>
      <if test="steelFe != null">
        steel_fe = #{steelFe,jdbcType=INTEGER},
      </if>
      <if test="steelRemark != null">
        steel_remark = #{steelRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where produce_date = #{produceDate,jdbcType=DATE}
      and furnace_num = #{furnaceNum,jdbcType=VARCHAR}
  </update>
</mapper>